<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>LegalatorAI Admin Panel</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
</head>


<body>
  <div class="container-fluid" style="padding: 1%;">
    <h2>Legalator.AI Admin Panel</h2>
    <div class="row">
      <a href="/admin/config/page">Configuration Settings</a>
    </div>
    <div class="row" style="margin-top:1%;">
      <h4>Statistics</h4>

      <p>Recent Prompts: </p>
      <table style="margin-left: 1%;">
        <tr>
          <th>User</th>
          <th>Prompt</th>
          <th>Time</th>
          <th>Search Type</th>
        </tr>
        {% for search_obj in recent_search_objs %}
        <tr>
          <td><a href="/admin/users?email={{search_obj.user}}">{{search_obj.user}}</a></td>
          <td><a href="/admin/statistics/detailed?id={{search_obj.id}}">{{search_obj.prompt}}</a></td>
          <td>{{search_obj.time}}</td>
          <td>{{search_obj.type}}</td>
        </tr>
        {% endfor %}
      </table>

    </div>
    <div class="row" style="margin-top:1%;">
      <a href="/admin/statistics/view">View More</a>
    </div>
    <div class="row" style="margin-top:2%;">
      <p style="">Numbers: </p>
      <table style="margin-left: 1%;">
        <tr>
          <th>Total Queries Made</th>
          <th>Total Number of Users</th>
          <th>Pinecone Vectors Count</th>
        </tr>
        <tr>
          <td>{{query_count}}</td>
          <td>{{user_count}}</td>
          <td>{{database_count}}</td>
        </tr>
      </table>
    </div>
    <div class="row" style="margin-top:1%;">
      <a href="/admin/users/list">View User List</a>
    </div>
  </div>
</body>