<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>LegalatorAI Admin Panel</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
</head>


<body>
  <div class="container-fluid" style="padding: 1%;">
    <h2>Legalator.AI Admin Panel</h2>
    <a href="/admin">Go Back</a>

    <h5 style="margin-top:1%;">User</h5>
    <p style="margin-bottom:1.5%;">{{search_obj.user}}</p>
    <h5>Prompt</h5>
    <p style="margin-bottom:1.5%;">{{search_obj.prompt}}</p>
    <h5>Response</h5>
    <p style="margin-bottom:1.5%;">{{search_obj.response}}</p>
    <h5>Time</h5>
    <p style="margin-bottom:1.5%;">{{search_obj.time}}</p>
    <h5>Search Type</h5>
    <p style="margin-bottom:1.5%;">{{search_obj.type}}</p>

  </div>
</body>