<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>LegalatorAI Admin Panel</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
</head>


<body>
  <div class="container-fluid" style="padding: 1%;">
    <h2>Legalator.AI Admin Panel</h2>
    <form action="/admin/verify" method="POST">
      <div class="form-row">
        <input type="password" style="height:4vh;" class="form-control" name="password" id="password"placeholder="Enter the admin password">
        <input type="submit" style="margin-top:1%; margin-bottom: 1%;" class="btn btn-primary" value="Access">

      </div>
    </form>
    
    
  </div>
</body>