<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Legalator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
    <style>
    #HASH {
      display: flex;
      justify-content: space-between;
    }
    </style>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
  -->
  </head>

  <body style="background-color: #1e1e1e;">
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt" style="background-color: #1e1e1e; height:10.5vh;">
        <nav style="left:0 !important;">
          <img src="{{ url_for('static',filename='images/'+search_type.name+'.png') }}" alt="Legalator" style="width:25vh; height:6.5vh;margin-top:2.5vh;margin-left:2vw;">
        </nav>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/search/page" style="font-weight: bold;">Start Searching</a></li>
                  <li><a href="/#one">About Us</a></li>
                  <li><a href="/#cta">Contact Us</a></li>
                  <li><a href="/user/signout">Sign Out</a></li>
                  <p style="margin-top: 3%;">{{user.username}}</p>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <div class="container-fluid" style="padding-right:2vw;padding-left: 2vw;padding-top: 3.5vh; margin:0 !important;">
        <div id="HASH" class="blue-msg">
          <span id="time-HASH" class="smalltext"><a href="/search/page?search_type={{search_type.opposite().value}}" style="border-bottom: 0;">Switch to searching by {{search_type.opposite().value}}s</a></span>
          <span class="ios-circle"><a href="/search/clear" style="border-bottom: 0;">Clear</a></span>
        </div>
        <form id="searchForm" action="/search/query" method="POST">
          <div class="form-row" style="padding-top: 1vh;">
            <div class="input-group">
              <input id="searchInput" value="{% if search_obj is defined %}{{ search_obj.prompt }}{% endif %}" name="searchInput" type="text" class="form-control" placeholder="Enter your query..."  aria-describedby="basic-addon2" >
                
              <input id="button-addon2" class="btn btn-outline-secondary" type="submit" value="Search"/>
              <input type="hidden" name="searchType" value="{{search_type.value}}">
            </div>
          </div>
        </form>
        <div class="form-row">
          <span id="textResponse" style="white-space: pre-line">{% if search_obj is defined %}{{ search_obj.response }}{% endif %}</span>
        </div>
        <div id="titlesList" class="form-row" style="margin-top:2%;">
          {% if search_obj is defined %}
          <h5>Relevant Documents:</h3>
            {% for title in search_obj.titles %}
              <p id="title">{{title}}</p>
            {% endfor %}
          {% endif %}
        </div>
        <!-- SHOWING EXCERPTS
        <div class="form-row" style="margin-top:2%;">
          
        </div>
        -->
      </div>

  </div>


    
    		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/browser.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/util.js') }}"></script>
      <script src="{{ url_for('static',filename='js/main.js') }}"></script>

  </body>


</html>