<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>LegalatorAI Admin Panel</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/bootstrap.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.js')}}"></script>
</head>


<body>
  <div class="container-fluid" style="padding: 1%;">
    <h2>Legalator.AI Admin Panel</h2>
    <a href="/admin">Go Back</a>

    <div class="row" style="margin-top:2%;">
      <h4 style="padding-left: 0; margin-left: 0.5%;" >Users</h4>
      <table style="margin-left: 0.5%;">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Paid?</th>
          <th>Set Paid</th>
        </tr>
        {% for user in user_objs %}
        <tr>
          <td><a href="/admin/users?email={{user.email}}">{{user.username}}</a></td>
          <td>{{user.email}}</td>
          <td>{{user.paid}}</td>
          <td><a href="/admin/users/setpaid?email={{user.email}}">Set Paid</a></td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>
</body>